---
import BaseLayout from '../layouts/BaseLayout.astro';
import Rules from '../components/Rules.astro';
---

<BaseLayout title="Serverregeln - LAST BULLET DayZ" description="Die Serverregeln von LAST BULLET DayZ. Alle Regeln zu PvP, Basen, Fahrzeugen und Verhalten auf unserem Hardcore DayZ Server." keywords="DayZ Regeln, Server Rules, PvP Regeln, Last Bullet, DayZ Server Regeln">
  <div class="pt-24">
    <Rules />
  </div>
</BaseLayout>
